/*
!/.gitignore
!/INSTALL.MD
!/LICENSE
!/README.MD

!/LocalizationDatabase_Data.sql

!/Vanilla_fi_FI_Aztec_Montezuma_ConfigText.xml
!/Vanilla_fi_FI_Aztec_Montezuma_GameplayText.xml
!/Vanilla_fi_FI_Aztec_Montezuma_PackageText.xml
!/Vanilla_fi_FI_Civilizations_Text.xml
!/Vanilla_fi_FI_Civilopedia_Text.xml
!/Vanilla_fi_FI_InGameText.xml
!/Vanilla_fi_FI_Religion_Text.xml
!/Vanilla_fi_FI_Types_Text.xml
!/Vanilla_fi_FI_UI_Technology_Text.xml
