/Civilization VI suomeksi/fi_FI/*
!/Civilization VI suomeksi/fi_FI/AncientRivalsScenario_Text.xml
!/Civilization VI suomeksi/fi_FI/Australia_PackageText.xml
!/Civilization VI suomeksi/fi_FI/Automation_Narration_Text.xml
!/Civilization VI suomeksi/fi_FI/Aztec_Montezuma_ConfigText.xml
!/Civilization VI suomeksi/fi_FI/Aztec_Montezuma_GameplayText.xml
!/Civilization VI suomeksi/fi_FI/Aztec_Montezuma_PackageText.xml
!/Civilization VI suomeksi/fi_FI/BalanceMaps_ConfigText.xml
!/Civilization VI suomeksi/fi_FI/BenchmarkText.xml
!/Civilization VI suomeksi/fi_FI/Building_Huey_Teocalli_Text.xml
!/Civilization VI suomeksi/fi_FI/Buildings_Text.xml
!/Civilization VI suomeksi/fi_FI/CityNames_Text.xml
!/Civilization VI suomeksi/fi_FI/Civics_Text.xml
!/Civilization VI suomeksi/fi_FI/Civilizations_Text.xml
!/Civilization VI suomeksi/fi_FI/Civilopedia_Text.xml
!/Civilization VI suomeksi/fi_FI/ColdWarScenario_Text.xml
!/Civilization VI suomeksi/fi_FI/Combat_Text.xml
!/Civilization VI suomeksi/fi_FI/CompStompScenario_Text.xml
!/Civilization VI suomeksi/fi_FI/Difficulties_Text.xml
!/Civilization VI suomeksi/fi_FI/EarthMaps_ConfigText.xml
!/Civilization VI suomeksi/fi_FI/Expansion1_PackageText.xml
!/Civilization VI suomeksi/fi_FI/FeaturesAndTerrains_Text.xml
!/Civilization VI suomeksi/fi_FI/FrontEndText.xml
!/Civilization VI suomeksi/fi_FI/Indonesia_Khmer_PackageText.xml
!/Civilization VI suomeksi/fi_FI/InGameText.xml
!/Civilization VI suomeksi/fi_FI/Leaders_Text.xml
!/Civilization VI suomeksi/fi_FI/Macedonia_Persia_PackageText.xml
!/Civilization VI suomeksi/fi_FI/MultiplayerFrontEndText.xml
!/Civilization VI suomeksi/fi_FI/My2KText.xml
!/Civilization VI suomeksi/fi_FI/Nubia_PackageText.xml
!/Civilization VI suomeksi/fi_FI/Poland_PackageText.xml
!/Civilization VI suomeksi/fi_FI/Projects_Text.xml
!/Civilization VI suomeksi/fi_FI/Quests_Text.xml
!/Civilization VI suomeksi/fi_FI/Religion_Text.xml
!/Civilization VI suomeksi/fi_FI/ReligiousCombatScenario_Text.xml
!/Civilization VI suomeksi/fi_FI/Routes_Text.xml
!/Civilization VI suomeksi/fi_FI/Technologies_Text.xml
!/Civilization VI suomeksi/fi_FI/Types_Text.xml
!/Civilization VI suomeksi/fi_FI/UI_Civilopedia_Text.xml
!/Civilization VI suomeksi/fi_FI/UI_EndGame_Text.xml
!/Civilization VI suomeksi/fi_FI/UI_Technology_Text.xml
!/Civilization VI suomeksi/fi_FI/Unit_Abilities_Text.xml
!/Civilization VI suomeksi/fi_FI/Units_Text.xml
!/Civilization VI suomeksi/fi_FI/UserSetupWarning_Text.xml
!/Civilization VI suomeksi/fi_FI/Vikings_PackageText.xml
!/Civilization VI suomeksi/fi_FI/Wars_Text.xml
!/Civilization VI suomeksi/fi_FI/WorldBuilder_Text.xml

/Civilization VI suomeksi/fi_FI_Expansion1/*
!/Civilization VI suomeksi/fi_FI_Expansion1/Expansion1_ConfigText.xml
!/Civilization VI suomeksi/fi_FI_Expansion1/Expansion1_Leaders_Text.xml
