/*
!/.gitignore
!/INSTALL.MD
!/LICENSE
!/README.MD

!/LocalizationDatabase_Data.sql

!/Vanilla_fi_FI_AncientRivalsScenario_Text.xml
!/Vanilla_fi_FI_Australia_PackageText.xml
!/Vanilla_fi_FI_Automation_Narration_Text.xml
!/Vanilla_fi_FI_Aztec_Montezuma_ConfigText.xml
!/Vanilla_fi_FI_Aztec_Montezuma_GameplayText.xml
!/Vanilla_fi_FI_Aztec_Montezuma_PackageText.xml
!/Vanilla_fi_FI_BalanceMaps_ConfigText.xml
!/Vanilla_fi_FI_BenchmarkText.xml
!/Vanilla_fi_FI_Building_Huey_Teocalli_Text.xml
!/Vanilla_fi_FI_Buildings_Text.xml
!/Vanilla_fi_FI_CityNames_Text.xml
!/Vanilla_fi_FI_Civics_Text.xml
!/Vanilla_fi_FI_Civilizations_Text.xml
!/Vanilla_fi_FI_Civilopedia_Text.xml
!/Vanilla_fi_FI_ColdWarScenario_Text.xml
!/Vanilla_fi_FI_Combat_Text.xml
!/Vanilla_fi_FI_CompStompScenario_Text.xml
!/Vanilla_fi_FI_Difficulties_Text.xml
!/Vanilla_fi_FI_FrontEndText.xml
!/Vanilla_fi_FI_InGameText.xml
!/Vanilla_fi_FI_Religion_Text.xml
!/Vanilla_fi_FI_Types_Text.xml
!/Vanilla_fi_FI_UI_Technology_Text.xml
!/Vanilla_fi_FI_Unit_Abilities_Text.xml
!/Vanilla_fi_FI_Units_Text.xml
!/Vanilla_fi_FI_UserSetupWarning_Text.xml
!/Vanilla_fi_FI_Vikings_PackageText.xml
!/Vanilla_fi_FI_WorldBuilder_Text.xml
